.lm-color-grid {
  width: 100%;
  height: 85%;
}

.lm-color-picker-options {
  box-sizing: border-box;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.lm-color-picker-options button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1.1em;
}

.lm-color-grid table {
  width: 100%;
}

.lm-color-grid tr:first-child > td:first-child {
  border-top-left-radius: 3px;
}

.lm-color-grid tr:first-child > td:last-child {
  border-top-right-radius: 3px;
}

.lm-color-grid tr:last-child > td:first-child {
  border-bottom-left-radius: 3px;
}

.lm-color-grid tr:last-child > td:last-child {
  border-bottom-right-radius: 3px;
}

.lm-color-selected {
  background-repeat:no-repeat;
  background-size: 16px;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z' fill='white'/%3E%3C/svg%3E");
}

.lm-color-hsl {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.lm-color-hsl canvas {
  display: block;
  border-radius: 4px;
  -webkit-user-drag: none;
}

.lm-color-point {
  height: 5px;
  width: 5px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline: 1px solid white;
}

.lm-modal .lm-tabs > ul {
  margin: 0 auto
}
