.lm-tabs {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.lm-tabs > div {
  height: 100%;
  margin-bottom: 10px;
}

.lm-tabs > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  width: fit-content;
  align-self: center;
  outline: 1px solid #A1A1A1;
  border-radius: 5px;
  overflow: hidden;
}

.lm-tabs > ul > li {
  cursor: pointer;
  user-select: none;
  align-self: center;
  padding: 10px 20px;
}

.lm-tabs > ul > li.lm-tab-list-item:hover {
  background-color: #d5d5d5;
}

.lm-tabs > ul > li.selected {
  background-color: #f1f1f1;
}

.lm-tabs > :not(:first-child) {
  display: none;
}

.lm-tabs > :not(:first-child).selected {
  display: inline-block;
}